<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @saving.amount %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @saving.balance %>
</p>

<p>
  <strong>Type:</strong>
  <%= @saving.type %>
</p>

<%= link_to 'Edit', edit_saving_path(@saving) %> |
<%= link_to 'Back', savings_path %>
